extends layout

block content

  if user 
    a(href="/logout") logout  
    p #{user.username} でログイン中
    div 
      a(href="chatRooms/new") 新しいチャットルームを作成
    div
      a(href="chatRooms/") チャットルーム一覧
  else 
    a(href="/login") login 
  script(src="/js/index.js")
