extends layout

block content
    form(method="post", action="/chatRooms")
        div
            h5 roomId 
            input(type="text" name="roomId")
        div
            h5 roomName 
            input(type="text" name="roomName")
        div
            label
                input(type="checkbox" name="permanent") 
                span.label このroomIdを保存する
        button(type="submit") start this chat room