extends layout

block content
  div(style="display: none;", hiddden): p#id #{room.id}
  //- #id(style="display: none;", hiddden): #{room.id}
  div 
    a(href="/chatRooms") チャットルーム一覧
  div
    h4.roomName #{room.roomName}  
  div 
    textarea#inputMes(name="inputMes", cols="30", rows="3")
    button#sendMes(
      data-id=room.id 
    ) 送信 
  script(src="/javascripts/room.bundle.js")
  //- script(src="/javascripts/room.js")