extends layout

block content
  div 
    a(href="/chatRooms") チャットルーム一覧
  div 
    h4.roomName #{room.roomName}  
  script(src="/javascripts/room.bundle.js")
  //- script(src="/javascripts/room.js")