extends layout

block content
  div 
    a(href="/chatRooms") チャットルーム一覧
  div 
    h4.roomName #{room.roomName}  
  div 
    textarea#inputMes(name="inputMes", cols="30", rows="3")
    button#sendMes 送信 
  script(src="/javascripts/room.bundle.js")
  //- script(src="/javascripts/room.js")